body{
		background-color: gray;
    }
   	.chart-window{
		width: 600px;
		height: 400px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
    .chart-content{
    	height: 350px;
    	background-color: white;
    	overflow: auto;
    	border-radius: 4px;
    	padding: 0;
    }
    .chart-input{
    	width: 100%;
    }
    .message-frame{
    	text-align: left;
    	float: left;
    	width: 100%;
    }
    .message-frame-sender{
    	width: auto;
    	float: left;
    	margin: 5px 10px 5px 10px;
    }
    .message-frame-content{
    	width: auto;
    	float: left;
    	padding: 5px;
    	color: white;
    	margin:5px 0 5px 0;
    	background-color: gray;
    	border-radius: 4px;
    	min-width: 30px;
    	
    }
    .message-frame-content-arrow{
    	position:absolute;
		top:5px;
		right:-16px; /* 圆角的位置需要细心调试哦 */
		width:0;
		height:0;
		font-size:0;
		border:solid 8px;
		background-color: gray;
		border-color:gray;
    	
    }
    .sys-message-frame{
    	margin: 5px 0 5px 0;
    }
    .fr{
    	float: right;
    	text-align: right;
    }
    .chat-bar{
    	width: 100%;
    	padding:2px 0px 2px 0px;
    }
    .chat-editor{
    	background-color: white;
    	width: 100%;
    	height: 150px;
    	padding:5px 10px 5px 10px;
    	overflow: auto;
    	border-radius: 4px;
    }
    .placeholder{
    	
    }
    .send-btn{
    	float: right;
    }
    .prompt-music{
    float: right;
    }
     .prompt-music:hover{
     cursor: pointer;
     }
     .chat-room-status{
     color: white;
     }